.vdp-datepicker__calendar header {
    display: block;
    line-height: 40px;
    padding: 0 !important;
}

.vdp-datepicker .form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    background-color: #fff !important;
    opacity: 1 !important;
}

.vdp-datepicker .input-group {
    display: flex !important;
}

.form-control{
    border-radius: 0 !important;
}

.btn {
    border-radius: 0 !important;
}

html {
    position: relative;
    min-height: 100%;
}

body{
    font-family: 'Rubik', sans-serif;
    margin-bottom: 100px;
}
/* /Body */


section{
    padding: 50px 0;
}

h2, h3, h4{
    color: #4f4344;
    font-weight: normal;
}

p{
    line-height: 25px;
}

.margin-top{
    margin-top: 40px;
}

.margin-top-20{
    margin-top: 20px;
}

.margin-img{
    margin-bottom: 15px;
}

.margin-bottom{
    margin-bottom: 50px;
}

.no-padding{
    padding: 0;
}

.btn-default{
    border-radius: 0;
}

.no-margin-top{
    margin-top: 0;
}

.bold{
    font-weight: bold;
}

.p-mini{
    font-size: 90%;
    line-height: 20px;
    padding-right: 20px;
}

/* Index */

.pricerange {
    margin-left: -15px;
    margin-right: -15px;
}

.input-group-addon {
    background-color: #fff !important;
    border-radius: 0px !important;
}

#busqueda span {
    vertical-align: text-bottom;
}

#busqueda .btn-info{
    background-color: rgba(237, 230, 217, 0.7);
    border-color: rgba(237, 230, 217, 0.7);
    color: #000;
}

#busqueda icon {
    color: #fff !important;
}

#busqueda input[type=checkbox]{
    opacity: 0;
}

.text-checkbox {
    color: #4f4344;
}

/* /Generales */

input[type=text]:focus{
    border-color: #89dbee !important;    
}
select:focus{
    border-color: #89dbee !important;
}

header{
    padding: 5px 0;
    padding-top: 20px;
    background-color: #e0daca;
}
/* /Header */

.navbar {
    margin-bottom: 0;
}

.navbar-default{
    background-color: #4f4344;
    border-radius: 0;
    border-color: #4f4344;
}

.navbar-default .navbar-nav>li>a{
    color: #fff;
    font-size: 120%;
    font-weight: 300;
}

.navbar-default .navbar-nav>li>a:hover{
    color: #89dbee;
}

.navbar-default .navbar-nav .open .dropdown-menu>li>a{
    font-weight: 300;
}

.usuario::before{
    content: '\f2bd';
    font-family: FontAwesome;
    margin-right: 10px;
}

#navegacion form{
    margin: 10px 0;
}

.input-group-btn:last-child>.btn, .input-group-btn:last-child>.btn-group{
    background-color: #e0daca;
}

.navbar-default .navbar-toggle:hover{
    background-color: #89dbee;
    border-color: #89dbee;
}

.navbar-default .navbar-toggle .icon-bar{
    background-color: #fff;
}

.fa-home{
    font-size: 150%;
}
/* /Navegacion */


/*----Inicio PRODUCTOS----*/
#productos .col-md-2{
    margin-bottom: 40px;
}

#productos p{
    color: gray;
}
/* /Productos */


#emprendedores{
    padding-top: 0;
}

#emprendedores img{
    border-radius: 50%;
    margin: 0 auto;
}

#emprendedores img:hover{
    opacity: 0.7;
}

#emprendedores #slider-text .col-md-2{
  overflow: hidden;
}

#emprendedores #itemslider h4{
  margin-top: 15px;
}
/*slider*/
@media screen and (max-width: 992px){
#emprendedores #slider-control img {
  padding-top: 70px;
  margin: 0 auto;
}
}
.carousel-showmanymoveone .carousel-control {
  width: 4%;
  background-image: none;
}
.carousel-showmanymoveone .carousel-control.left {
  margin-left: 5px;
}
.carousel-showmanymoveone .carousel-control.right {
  margin-right: 5px;
}
.carousel-showmanymoveone .cloneditem-1,
.carousel-showmanymoveone .cloneditem-2,
.carousel-showmanymoveone .cloneditem-3,
.carousel-showmanymoveone .cloneditem-4,
.carousel-showmanymoveone .cloneditem-5 {
  display: none;
}
@media all and (min-width: 768px) {
  .carousel-showmanymoveone .carousel-inner > .active.left,
  .carousel-showmanymoveone .carousel-inner > .prev {
    left: -50%;
  }
  .carousel-showmanymoveone .carousel-inner > .active.right,
  .carousel-showmanymoveone .carousel-inner > .next {
    left: 50%;
  }
  .carousel-showmanymoveone .carousel-inner > .left,
  .carousel-showmanymoveone .carousel-inner > .prev.right,
  .carousel-showmanymoveone .carousel-inner > .active {
    left: 0;
  }
  .carousel-showmanymoveone .carousel-inner .cloneditem-1 {
    display: block;
  }
}
@media all and (min-width: 768px) and (transform-3d), all and (min-width: 768px) and (-webkit-transform-3d) {
  .carousel-showmanymoveone .carousel-inner > .item.active.right,
  .carousel-showmanymoveone .carousel-inner > .item.next {
    -webkit-transform: translate3d(50%, 0, 0);
    transform: translate3d(50%, 0, 0);
    left: 0;
  }
  .carousel-showmanymoveone .carousel-inner > .item.active.left,
  .carousel-showmanymoveone .carousel-inner > .item.prev {
    -webkit-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-50%, 0, 0);
    left: 0;
  }
  .carousel-showmanymoveone .carousel-inner > .item.left,
  .carousel-showmanymoveone .carousel-inner > .item.prev.right,
  .carousel-showmanymoveone .carousel-inner > .item.active {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    left: 0;
  }
}
@media all and (min-width: 992px) {
  .carousel-showmanymoveone .carousel-inner > .active.left,
  .carousel-showmanymoveone .carousel-inner > .prev {
    left: -16.666%;
  }
  .carousel-showmanymoveone .carousel-inner > .active.right,
  .carousel-showmanymoveone .carousel-inner > .next {
    left: 16.666%;
  }
  .carousel-showmanymoveone .carousel-inner > .left,
  .carousel-showmanymoveone .carousel-inner > .prev.right,
  .carousel-showmanymoveone .carousel-inner > .active {
    left: 0;
  }
  .carousel-showmanymoveone .carousel-inner .cloneditem-2,
  .carousel-showmanymoveone .carousel-inner .cloneditem-3,
  .carousel-showmanymoveone .carousel-inner .cloneditem-4,
  .carousel-showmanymoveone .carousel-inner .cloneditem-5,
  .carousel-showmanymoveone .carousel-inner .cloneditem-6  {
    display: block;
  }
}
@media all and (min-width: 992px) and (transform-3d), all and (min-width: 992px) and (-webkit-transform-3d) {
  .carousel-showmanymoveone .carousel-inner > .item.active.right,
  .carousel-showmanymoveone .carousel-inner > .item.next {
    -webkit-transform: translate3d(16.666%, 0, 0);
    transform: translate3d(16.666%, 0, 0);
    left: 0;
  }
  .carousel-showmanymoveone .carousel-inner > .item.active.left,
  .carousel-showmanymoveone .carousel-inner > .item.prev {
    -webkit-transform: translate3d(-16.666%, 0, 0);
    transform: translate3d(-16.666%, 0, 0);
    left: 0;
  }
  .carousel-showmanymoveone .carousel-inner > .item.left,
  .carousel-showmanymoveone .carousel-inner > .item.prev.right,
  .carousel-showmanymoveone .carousel-inner > .item.active {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    left: 0;
  }
}
/* /Emprendedores */
/*----Fin PRODUCTOS----*/


/*----Inicio FOOTER----*/
footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background-color: #e0daca;
}
/*----fin FOOTER----*/



/*----Inicio EMPRENDEDOR----*/
#el-emprendedor h2{
    padding-right: 50px;
}

#el-emprendedor h4, #el-producto h4{
    margin-top: 50px;
}

#el-emprendedor a, #el-producto a{
    display: inline-block;
}

#el-emprendedor p{
    padding-right: 50px;
}



#el-emprendedor .btn-default, #el-producto .btn-default, #publicacion .btn-default, #registro-empresa .btn-default, #configuracion .btn-default, #busqueda .btn-default, #admin-agregar-faq .btn-default{
    background-color: #4f4344;
    border-color: #4f4344;
    width: 50%;
    color: #fff;
    letter-spacing: 0.5px;
    display: block;
}

#el-emprendedor .btn-default:hover, #el-producto .btn-default:hover, #publicacion .btn-default:hover, #registro-empresa .btn-default:hover, #configuracion .btn-default:hover, #busqueda .btn-default:hover, #admin-agregar-faq .btn-default:hover{ 
    background-color: #89dbee;
    border-color: #89dbee;
}
/* /El Emprendedor */


#ubicacion h2{
    margin-bottom: 30px;
}
/* /Ubicacion */

#fila-productos{
    padding-top: 0;
}

#fila-productos .btn-default{
    margin-top: 50px;
}

#fila-productos .btn-default a:hover{
    text-decoration: none;
}
/* /Fila de Productos */
/*----fin EMPRENDEDOR----*/



/*----Inicio PRODUCTO----*/
#el-producto .carousel {
    margin-top: 20px;
}
#el-producto .item .thumb {
	width: 25%;
	cursor: pointer;
	float: left;
}
#el-producto .item .thumb img {
	width: 100%;
	margin: 2px;
    padding-right: 10px;
}
#el-producto .item img {
	width: 100%;	
}

#el-producto .redes-sociales{
    margin-top: 30px;
    font-size: 200%;
}

#el-producto .btn-default{
    margin-top: 50px;
}

#el-producto h3{
    margin-top: 50px;
}
/* /El Producto */

#comentarios{
    padding-top: 0;
}

.contorno{
    border: 1px solid #ccc;
    padding: 20px 30px;
}

.ban{
    background-color: rgb(240, 240, 240);
}
/*----fin PRODUCTO----*/



/*---- Inicio NUEVA PUBLICACION ----*/
#publicacion .fondo-beige, #registro-empresa .fondo-beige, #configuracion .fondo-beige, #faq .fondo-beige, #busqueda .fondo-beige, #admin-publicaciones .fondo-beige, #admin-denuncias .fondo-beige, #admin-clientes .fondo-beige, #admin-emprendedores .fondo-beige, #admin-faq .fondo-beige, #admin-agregar-faq .fondo-beige, #admin-categorias .fondo-beige{
    background-color: rgba(237, 230, 217, 0.7);
    padding: 25px 25px 60px 25px;
}

#publicacion hr, #registro-empresa hr, #configuracion hr, #busqueda hr{
    border-color: gray;
    margin: 25px 0;
}

#publicacion .btn-default, #registro-empresa .btn-default, #configuracion .btn-default, #busqueda .btn-default{
    margin: 0 auto;
    margin-top: 30px;
}
/*---- fin NUEVA PUBLICACION ----*/



/*---- Inicio REGISTRO EMPRESA ----*/

/*CSS Agregar Foto*/
#registro-empresa .fa-camera, #publicacion .fa-camera{
    font-size: 500%;
    color: #4f4344;
}

#registro-empresa .upload, #publicacion .upload{
    position: relative;
    display: inline-block;
    -ms-display: flex; 
    display: flex;  
    align-items: center;  
    justify-content: center;
}

#registro-empresa .upload label, #publicacion .upload label{
    color: #5F626A;
    cursor: pointer;
    width: 400px;
    height: 200px;
    position: relative;
    display: block;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    transition: background ease .5s;
    pointer-events: none; /*This for FF*/
    -ms-display: flex; 
    display: flex;  
    align-items: center;  
    justify-content: center;
}

#registro-empresa .input-file, #publicacion .input-file{
  opacity: 0; /*This*/
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

#registro-empresa .add-image, #publicacion .add-image{
  display: block;
  width: 100%;
  margin: 30px auto;
  text-align: center;
  font-size: 11px;
  font-family: sans-serif;
}
/*---- FIN REGISTRO EMPRESA ----*/



/*---- Inicio CONFIGURACION ----*/
#configuracion hr{
    margin-top: 50px;
}
/*---- fin CONFIGURACION ----*/


/*---- Vistas del Admin ----*/
/*---- Inicio PUBLICACIONES ----*/
#admin-categorias .table, #admin-denuncias .table, #admin-clientes .table, #admin-emprendedores .table, #admin-faq .table{
    background-color: #fff;
}
/*---- Fin PUBLICACIONES ----*/


/*---- Inicio DENUNCIAS ----*/
.btn-tabla{
    background-color: #4f4344;
    color: #fff;
    padding: 5px 20px;
    display: inline-block;
    width: 100%;
    text-align: center;
}

.btn-tabla:hover{
    text-decoration: none;
    background-color: #89dbee;
    color: #fff;
}
/*---- Fin DENUNCIAS ----*/


/*---- Inicio FAQ ----*/
#admin-faq .fa-minus-circle{
    margin-left: 25px;
}

#admin-faq .fa, #admin-publicaciones .fa, #admin-denuncias .fa{
    font-size: 140%;
}

#admin-faq .pagination{
    margin: 0 auto;
    display: table;
    margin-top: 60px;
}

#admin-faq .fa-plus-circle{
    margin-right: 5px;
    font-size: 250%;
}

.agregar p{
    font-size: 150%;
    margin-top: 30px;
}

.agregar a{
    color: #333;
}

.agregar a:hover{
    text-decoration: none;
    color: #50c1d3;
}

#admin-agregar-faq .btn-default{
    margin: 50px auto;
}
/*---- fin FAQ ----*/








/*MEDIA QUERIES*/
@media screen and (max-width: 767px){
    .navbar-default .navbar-nav .open .dropdown-menu>li>a{
        color: #fff;
    }
    .navbar-default .navbar-nav .open .dropdown-menu>li>a:hover{
        color: #89dbee;
    }
}

@media screen and (max-width: 414px){
    .no-padding-responsive{
        padding: 0;
    }
    #el-producto{
        text-align: center;
    }
    #el-producto h2{
        margin-top: 50px;
    }
    #fila-productos h2{
        text-align: center;
    }
    .margin-top-responsiv-20{
        margin-top: 20px;
    }
}

@media screen and (max-width: 768px){
    .margin-top-responsiv{
        margin-top: 70px;
    }

    #el-emprendedor .btn-default, #el-producto .btn-default{
        width: 100%;
    }
    #el-emprendedor{
        text-align: center;
    }
    #el-emprendedor p, #el-emprendedor h2{
    padding-right: 0;
    }
}

#dropbox {
    outline: 2px dashed grey;
    background: lightcyan;
    color: dimgray;
    padding: 10px 10px;
    min-height: 200px;
    cursor: pointer;
    margin-bottom: 15px;
}

#dropbox-file {
    opacity: 0;
    width: 100%;
    height: 200px;
    position: absolute;
    cursor: pointer;
}

#dropbox:hover {
    background: lightblue;
}

#dropbox p {
    font-size: 1.2em;
    text-align:center;
    padding: 50px 0;
}

.vue-input-tag-wrapper .input-tag {
    background-color: #e0daca !important;
    border: 1px solid #4f4344 !important;
    color: #000 !important;
}

.vue-input-tag-wrapper .input-tag .remove {
    color: #4f4344 !important;
}