@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,600,700');

* {
	-webkit-font-smoothing: antialiased;
}

body {
	font-family: 'Raleway', sans-serif;
}
#aTerms {
	color: #fff;
	text-decoration: underline;
}

#aTerms:hover{
	color: #3cb6b6;
}

.section {
	padding: 15px 0;
}

.h1,
.h2,
.h3,
.h4,
.h5 {
	font-weight: 300;
}

.h2 {
	font-size: 250%;
}

.p {
	line-height: 25px;
	font-size: 90%;
	color: #575757;
}

.text-turquoise{
	color: #3cb6b6;
}

.btn-primary__turquoise {
	background-color: #3cb6b6;
	border-color: #3cb6b6;
}

.btn-round__turquoise:hover {
	background-color: #258d8d;
	border-color: #258d8d;
}
.btn-round__turquoise {
	background-color: #3cb6b6;
	border-color: #3cb6b6;
}

.btn-primary__turquoise:hover {
	background-color: #258d8d;
	border-color: #258d8d;
}

.breadcrumb{
	background-color: transparent;
}

.breadcrumb-item, .breadcrumb-item a{
	font-weight: bold;
	color: #434343;
}

.breadcrumb-item a:hover{
	opacity: 0.7;
}

.breadcrumb-item.active{
	color: #8d8d8d;
}

.breadcrumb-item+.breadcrumb-item::before{
	content: "\f101";
	font-family: 'Font Awesome 5 Free';
	font-weight: 900;
	color: #3cb6b6;
}
/*GENERALES*/



.header {
	background-color: #fff;
}

.btn--search {
	border-color: #ced4da;
	border-left: none;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

.form--search-input {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	border-right: none;
}

.navbar--btn__ingresar {
	border-radius: 30px;
}

.header .fa-search {
	color: #3cb6b6;
}

.header .fa-search:hover {
	opacity: 0.5;
}
/*HEADER*/



.home-slider {
	position: relative;
}

.home-slider .carousel-item::before {
	content: "";
	background-color: rgba(0, 0, 0, 0.7);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.home-slider--h2 {
	font-size: 300%;
}
/*HOME SLIDER*/



.home-products,
.publication-sales{
	background: url(../../img/img-soyprovidencia/home-products-bg.png);
}

.home-products .carousel-control-prev-icon,
.home-products .carousel-control-next-icon,
.home-entrepreneur .carousel-control-prev-icon,
.home-entrepreneur .carousel-control-next-icon,
.publication-sales .carousel-control-next-icon,
.publication-sales .carousel-control-prev-icon{
	background-image: none;
}

.home-products .carousel-control-prev,
.home-products .carousel-control-next,
.home-entrepreneur .carousel-control-prev,
.home-entrepreneur .carousel-control-next,
.publication-sales .carousel-control-prev,
.publication-sales .carousel-control-next{
	position: relative;
	display: inline;
}

.home-products .carousel-control-prev-icon::before,
.home-entrepreneur .carousel-control-prev-icon::before,
.publication-sales .carousel-control-prev-icon::before{
	content: "\f053";
	font-family: 'Font Awesome 5 Free';
	font-weight: 900;
	color: #000;
	font-size: 200%;
}

.home-products .carousel-control-next-icon::before,
.home-entrepreneur .carousel-control-next-icon::before,
.publication-sales .carousel-control-next-icon::before{
	content: "\f054";
	font-family: 'Font Awesome 5 Free';
	font-weight: 900;
	color: #000;
	font-size: 200%;
}

.card,
.home-products .card,
.home-entrepreneur .card {
	border: none;
	border-radius: .55rem;
	margin-bottom: 10px;
	margin-top: 10px;
	text-align: center;
}

.card-img-top,
.home-products .card-img-top,
.home-entrepreneur .card-img-top {
	border-top-left-radius: .55rem;
	border-top-right-radius: .55rem;
}

.card-img-link,
.home-products .card-img-link,
.home-entrepreneur .card-img-link,
.publication-products .product--img,
.publication-products a,
.publication-sales .card-body,
.entrepreneur-list a,
.search-products a,
.faq .card-header{
	-webkit-transition: 0.7s;
	-moz-transition: 0.7s;
	-o-transition: 0.7s;
	transition: 0.7s;
}

.card-img-link:hover,
.home-products .card-img-link:hover,
.home-entrepreneur .card-img-link:hover,
.publication-products .product--img:hover{
	opacity: 0.7;
}

.card-body,
.home-products .card-body,
.home-entrepreneur .card-body {
	padding-top: 30px;
	padding-bottom: 30px;
}

.card-title,
.home-products .card-title,
.home-entrepreneur .card-title,
.publication-products .product--title{
	font-size: 1rem;
	font-weight: 700;
	text-transform: uppercase;
}

.card-text,
.home-products .card-text,
.home-entrepreneur .card-text,
.entrepreneur-list .card-text{
	color: #575757;
}

.card-price,
.home-products .card-price, .publication-products .product--price {
	font-size: 150%;
}

.home-products .card-link a,
.home-entrepreneur .card-link a,
.publication-products .card-link a,
.entrepreneur-list .card-link a{
	color: #dc3545;
	font-weight: 600;
}

.home-products .card-link::after,
.home-entrepreneur .card-link::after,
.publication-products .card-link::after,
.entrepreneur-list .card-link a::after{
	content: "\f101";
	font-family: 'Font Awesome 5 Free';
	font-weight: 900;
	margin-left: 10px;
	color: #dc3545;
}
.publication-products .card-link :hover,
.entrepreneur-list .card-link :hover {
	text-decoration: underline;
}
/*HOME PRODUCTS*/



.home-entrepreneur {
	background: url(../../img/img-soyprovidencia/home-entrepreneur-bg.jpg);
	background-size: cover;
	background-position: center;
	position: relative;
}

.home-entrepreneur::before {
	content: "";
	background-color: rgba(0, 0, 0, 0.7);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.home-entrepreneur .carousel-control-next-icon::before,
.home-entrepreneur .carousel-control-prev-icon::before {
	color: #fff;
}

.home-entrepreneur .card {
	background-color: rgba(255, 255, 255, 0.7);
}
/*HOME ENTREPRENEUR*/



.footer {
	background: url(../../img/img-soyprovidencia/footer-bg.png);
	background-repeat: repeat;
	padding: 40px 0;
}

.footer--bottom-text {
	font-weight: 300;
}
/*FOOTER*/
/* --------END HOME-------- */




/* --------START PUBLICACIONES-------- */
.publication-top{
	overflow: hidden;
	max-height: 200px;
}
.publication-top img{
	width: 100%;
}
/*TOP*/


.publication-products .card,
.entrepreneur-list .card,
.search-products .card{
	border: 1px solid rgba(0,0,0,.125);
}

.publication-products a,
.publication-sales a,
.entrepreneur-list a,
.search-products a{
	text-decoration: none;
	color: #212529;
}

.publication-products a:hover,
.publication-sales .card-body:hover,
.entrepreneur-list a:hover,
.search-products a:hover{
	opacity: 0.7;
}

.product--price{
	font-weight: 600;
}
/*PRODUCTS*/

.publication-sales .card-price{
	color: #dc3545;
	font-weight: 700;
}

.publication-sales a{
	text-decoration: none;
}
/* --------END PUBLICACIONES-------- */




/* --------START PRODUCTO-------- */
.product-top{
	background: url(../../img/img-soyprovidencia/food.png);
	padding: 15px 0;
}

.product-top .breadcrumb, .entrepreneur-top .breadcrumb{
	margin-bottom: 0;
}
/*TOP*/


.product-info,
.entrepreneur-info{
	padding-top: 50px;
}

.product-info .list-inline{
  white-space:nowrap;
  overflow-x:auto;
}

.product-info .carousel-indicators,
.entrepreneur-info .carousel-indicators{
  position: static;
  left: initial;
  width: initial;
  margin-left: initial;
	margin-right: 0;
}

.product-info .carousel-indicators > li,
.entrepreneur-info .carousel-indicators > li{
  width: initial;
  height: initial;
  text-indent: initial;
}

.product-info .carousel-indicators > li.active img,
.entrepreneur-info .carousel-indicators > li.active img{
	opacity: 0.7;
}

.list-inline-item{
	max-width: 100px;
  overflow: hidden;
}

.product-info .carousel-indicators img,
.entrepreneur-info .carousel-indicators img{
	width: 100%;
}

.product-info .fa-twitter-square,
.product-info .fa-facebook-square,
.entrepreneur-info .fa-twitter-square,
.entrepreneur-info .fa-facebook-square{
	font-size: 250%;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
}
.fa-facebook-square{
	color: #3b5998
}
.fa-twitter-square{
	color: #00acee
}
/*.product-info .fa-twitter-square:hover,
.product-info .fa-facebook-square:hover,
.entrepreneur-info .fa-twitter-square:hover,
.entrepreneur-info .fa-facebook-square:hover{
	color: #3cb6b6;
}
*/
.product-info--text,
.entrepreneur-info--text{
	font-size: 100%;
}

.product-info--report a,
.entrepreneur-info--report a{
	color: #dc3545;
}
/*INFO*/


.product-comments{
	background: url(../../img/img-soyprovidencia/leaves-pattern.png);
	background-repeat: repeat;
}

.product-comments .nav-tabs{
	border-color: #3cb6b6;
}

.product-comments .nav-tabs .nav-link{
  font-size: 120%;
}

#nowrap{
  white-space: nowrap;
}
/*Permite no mostrar los saltos de linea automaticos al tener un espacio en la cadena de texto*/

.product-comments .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
	background-color: #3cb6b6;
	border-color: #3cb6b6;
	color: #fff;
}

.product-comments .nav-tabs .nav-link:hover{
	border-color: #3cb6b6;
}

.product-comments .nav-tabs a{
	color: #258d8d;
}

.ratings-comments{
	padding: 30px;
	border: 1px solid #ced4da;
	border-radius: 10px;
	background-color: #fff;
}
/*COMMENTS*/
/* --------END PRODUCTO-------- */



/* --------START EMPRENDEDOR-------- */
.entrepreneur-top{
	background: url(../../img/img-soyprovidencia/home-products-bg.png);
	padding: 15px 0;
}

.entrepreneur-info--subtitle{
	font-weight: 600;
}
/* --------END EMPRENDEDOR-------- */




/* --------START INGRESAR-------- */
.login{
	background: url(../../img/img-soyprovidencia/feria.jpg);
	background-size: cover;
	background-position: center;
}

.login--content,
.new-account--content,
.faq--content{
	background-color: rgba(255, 255, 255, 0.9);
	padding: 70px 50px;
	border-radius: 10px;
}
/* --------END INGRESAR-------- */




/* --------START REGISTRO-------- */
.new-account{
	background: url(../../img/img-soyprovidencia/producto-1.jpg);
	background-size: cover;
	background-position: center;
}
/* --------END REGISTRO-------- */




/* --------START BUSQUEDA AVANZADA-------- */
.btn-outline-secondary{
	color: #3cb6b6;
	border-color: #ced4da;
}

.btn-outline-secondary:hover,
.btn-outline-secondary:not(:disabled):not(.disabled):active{
	background-color: #3cb6b6;
	border-color: #3cb6b6;
}
/* --------END BUSQUEDA AVANZADA-------- */




/* --------START EMPRENDEDORES LISTA-------- */
.entrepreneur-list-top{
	background: url(../../img/img-soyprovidencia/emprendedor-3.jpg);
	background-size: cover;
	background-position: 100% 80%;
	min-height: 200px;
}
/* --------END EMPRENDEDORES LISTA-------- */




/* --------START FAQ-------- */
.faq{
	background: url(../../img/img-soyprovidencia/faq-background.jpg);
	background-size: cover;
	background-position: center;
}

.faq .card-header{
	background-color: #3cb6b6;
}

.faq .card-header:hover{
	background-color: #258d8d;
}

.faq .btn-link{
	color: #fff;
	font-weight: 600;
	text-decoration: none;
}
/* --------END FAQ-------- */




/* --------START ABOUT-------- */
.about-top{
	background: url(../../img/img-soyprovidencia/feria.jpg);
	background-size: cover;
	background-position: center;
	min-height: 300px;
}

.about-team{
	background: url(../../img/img-soyprovidencia/wavy-dots.png);
}

.about-team--image{
	border-radius: 1000px;
	max-width: 1000px;
}

.about-team--title{
	font-weight: 600;
}
/* --------END ABOUT-------- */




/* --------INICIO MEDIA QUERIES-------- */
@media screen and (max-width: 1024px) {
	.header .form-inline .form-control{
		width: 65%;
	}
	.navbar-brand{
		margin-right: 18px!important;
	}
	/*HEADER*/
}

@media screen and (max-width: 768px){
	.header .form-inline .form-control{
		width: 90%;
	}
	.navbar--btn__ingresar{
		display: inline-block;
		margin-right: 0!important;
		margin-left: 0!important;
	}
	/*HEADER*/

	.home-slider--h2{
		font-size: 220%;
	}
	.home-slider .carousel-caption{
		margin-bottom: 10px!important;
	}
	/*HOME*/
}

@media screen and (max-width: 414px){
	.header .form-inline .form-control{
		width: 80%;
	}
	.home-slider .carousel-img{
		width: 400%!important;
	}
	.home-slider .carousel-caption{
		margin-bottom: 90px!important;
	}
	/*HOME*/

	.product-info, .entrepreneur-info{
		text-align: center;
	}
	.product-info--title, .entrepreneur-info--title{
		margin-top: 30px;
	}
	.product-info .btn, .product-comments .btn, .entrepreneur-info .btn{
		width: 100%;
	}
	/*PRODUCT*/

	.login, .new-account, .faq{
		padding-left: 30px;
		padding-right: 30px;
	}
	.login--content, .new-account--content, .faq--content{
		padding: 40px 30px;
	}

	.login--content .btn, .new-account--content .btn{
		width: 100%;
	}
	/*LOGIN*/
}

@media screen and (max-width: 375px){
	.home-slider--h2{
		font-size: 180%;
	}
	/*HOME*/

	.login--content, .faq--content{
		padding: 30px 20px;
	}
	/*LOGIN*/

	.new-account{
		padding-left: 20px;
		padding-right: 20px;
	}

	.new-account--content{
		padding: 30px 15px;
	}
	/*NEW ACCOUNT*/
}

